body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
  }
  
  .box {
    flex: 1;
    border: 1px solid #ccc;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  @media (min-width: 800px) {
    .container {
      background: black;
      flex-direction: row;
    }
  }